<p id="notice"><%= notice %></p>

<h1>Listing Course Resources</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Kind</th>
      <th>Resource file</th>
      <th>Kind</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_resources.each do |course_resource| %>
      <tr>
        <td><%= course_resource.title %></td>
        <td><%= course_resource.content %></td>
        <td><%= course_resource.kind_id %></td>
        <td><%= course_resource.resource_file %></td>
        <td><%= course_resource.kind_id %></td>
        <td><%= course_resource.note %></td>
        <% if can? :adimn, current_user %>
          <td><%= link_to 'Show', course_resource %></td>
          <td><%= link_to 'Edit', edit_course_resource_path(course_resource) %></td>
          <td><%= link_to 'Destroy', course_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :adimn, current_user %>
    <%= link_to 'New Course resource', new_course_resource_path %>
<% end %>
