<p id="notice"><%= notice %></p>
<br>
<div class="container well">
  <% if can? :admin, current_user %>
  <%= link_to 'New Program', new_program_path %>
  <% end %>

  <p>Programs >> <%= link_to 'All Programs',programs_path %></p>
    <div class="program col-md-7">
    <% @programs.each do |program| %>
    <% image_name="/assets/icon-"+"#{program.program_name.delete(' ').downcase}"+".png" %>
      <ul class="program_container col-md-7" style="background-image: url(<%= image_name  %>)">
        <li >
          <p><%= link_to program.program_name,programs_path(search: program.program_name), class:"program_name"%></p>
          <p><%= program.description %></p>
          <% if can? :admin, current_user %>
          <span><%= link_to 'Show', program %></span>
          <span><%= link_to 'Edit', edit_program_path(program) %></span>
          <span><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <% end %>
        </li>
      </ul>
      <div id="arrow_container" class="col-md-5">
        <div class="arrow test col-md-3">
        </div>
        <div class="arrow_text col-md-9">
          Select Course
        </div>
      </div>
    <% end %>
    </div>
    <div class="well col-md-5">
      <ul class="course">
        <% courses=Course.all %>
        <% if courses!=nil %>
          <% courses.each do |course| %>
          <% @program_class = ''%>
          <% course.programeds.each do |pro| %>
          <% @program_class = "#{@program_class}" + "#{pro.program.program_name.delete(" ")}" + " " %>
          <% end %>
          <li class="course_container"><%= link_to course.name,course_path(course) %>
            <p class="get_class_li"><%= @program_class %></p>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
</div>
