<% if can? :admin, current_user %>
    <h2>show all students' information</h2>

    <div class="well well-lg">
    <div class="row">
        <div class="col-md-4">
          <%= form_tag users_path, method: :get do %>
            <%= search_field_tag :search, params[:search] %>
            <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
          <% end %>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&nbsp; &nbsp; Order_By&nbsp; &nbsp; <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><%= link_to "order by first_name", users_path(search: params[:search], order: "first_name")%></li>
              <li><%= link_to "order by level", users_path(search: params[:search], order: "grade") %></li>
              <li><%= link_to "order by class", users_path(search: params[:search], order: "school") %></li>
              <li><%= link_to "order by student_id", users_path(search: params[:search], order: "student_id") %></li>
            </ul>
        </div>
        <div class="col-md-4">
        <%= link_to "Add user", new_user_path, class: "btn btn-primary" %>
        </div>
    </div>
    </div>

    <% count=0  %>


  <table class="table">
    <tr>
      <th>OR</th>
      <th>Stu ID</th>
      <th>Student Name</th>
      <th>Age</th>
      <th>Parent Name</th>
      <th>Email</th>
      <th>Phone</th>
      <!-- <th>Level</th>
      <th>Class</th> -->
      <!-- <th>R_Time</th> -->
      <!-- <th>Note</th> -->
      <th>EDIT INFO</th>
      <th>Registed Course Info</th>
    </tr>
      <% @users.each do |q| %>
      <tr>
        <td><%= q.id %><%#= count+=1 %></td>
        <td><%= q.student_id %></td>
        <td><%= q.full_name %></td>
        <td><%= q.age %></td>
        <td><%= q.parent_name %></td>
        <td><%= q.email1 %></td>
        <td><%= q.cell_phone %></td>
        <!-- <td><%#= q.grade %></td>
        <td><%#= q.school %></td> -->
        <!-- <td><%#= q.registration_time %></td> -->
        <!-- <td><%#= q.note %></td> -->
        <td>
          <%= link_to "U", edit_user_path(q), data: {confirm: "Are you sure?"}, class: "btn-xs btn-info aline" %>
          <%= link_to "D", user_path(q),data: {confirm: "Are you sure?"}, method: :delete, class: "btn-xs btn-danger aline" %>
        </td>
        <% registedunits = q.registed_units %>
        <% if registedunits != nil %>
        <td>
          <% registedunits.each do |registedunit| %>
          <li>class_times: <%= registedunit.title %></li>
          <dl>
            <% classtimeinfo=registedunit.classtimetable %>
            <dd>  --class_start_times:    <%#= registedunit.classtimetable %></dd>
            <dd>  --class_start_day:      <%#= registedunit.classtimetable.start_day %></dd>
            <dd>  --class_times_per_week: <%#= registedunit.classtimetable.times_per_week %></dd>
            <dd>  --class_weekday:        <%#= registedunit.classtimetable.weekday %></dd>
          </dl>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
  </table>
<%= paginate @users %>
<% end %>
