<% if can? :admin, current_user %>
    <h2>show all students' information</h2>

    <div class="well well-lg">
    <div class="row">
        <div class="col-md-4">
          <%= form_tag users_path, method: :get do %>
            <%= search_field_tag :search, params[:search] %>
            <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
          <% end %>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&nbsp; &nbsp; Order_By&nbsp; &nbsp; <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><%= link_to "order by first_name", users_path(search: params[:search], order: "first_name")%></li>
              <li><%= link_to "order by level", users_path(search: params[:search], order: "grade") %></li>
              <li><%= link_to "order by class", users_path(search: params[:search], order: "school") %></li>
              <li><%= link_to "order by student_id", users_path(search: params[:search], order: "student_id") %></li>
            </ul>
        </div>
        <div class="col-md-4">
        <%= link_to "Add user", new_user_path, class: "btn btn-primary" %>
        </div>
    </div>
    </div>

    <% count=0  %>


  <table >
    <tr>
      <th>User id</th>
      <th>Stu ID</th>
      <th>Student Name</th>
      <th>Age</th>
      <th>Parent Name</th>
      <th>Email</th>
      <th>Phone</th>
      <!-- <th>Level</th>
      <th>Class</th> -->
      <th>RegistDay</th>
      <!-- <th>Note</th> -->
      <th>Registed Course Info</th>
      <th>EDIT INFO</th>
    </tr>
      <% @users.each do |q| %>
      <tr>
        <td><%= q.id %><%#= count+=1 %></td>
        <td><%= q.student_id %></td>
        <td><%= q.full_name %></td>
        <td><%= q.age %></td>
        <td><%= q.parent_name %></td>
        <td><%= q.email1 %></td>
        <td><%= q.cell_phone %></td>
        <!-- <td><%#= q.grade %></td>
        <td><%#= q.school %></td> -->
        <td><%= q.registration_time %></td>
        <td>
          <%  q.registed_units.each do |registed_unit|%>
          <ul>
            <%= get_registed_course_name(registed_unit) %>
            <li><%= registed_unit.title %></li>
          </ul>
          <% end unless q.registed_units.length == 0 %>
        </td>

        <td>
          <%= link_to "S", user_path(q), data: {confirm: "Are you sure?"}, class: "btn-xs btn-info aline" %>
          <%= link_to "U", edit_user_path(q), data: {confirm: "Are you sure?"}, class: "btn-xs btn-info aline" %>
          <%= link_to "D", user_path(q),data: {confirm: "Are you sure?"}, method: :delete, class: "btn-xs btn-danger aline" %>
        </td>
      </tr>
      <% end %>
  </table>
<%= paginate @users %>
<% end %>
