<% if @user == current_user %>
  <h3><%= @user.full_name %> !  This is your information detail.</h3>
  <hr>
  <table >
    <tr>
      <th>Stu ID</th>
      <th>Student Name</th>
      <th>Age</th>
      <th>Parent Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Registed Course Info</th>
    </tr>
    <tr>
      <td><%= @user.student_id %></td>
      <td><%= @user.full_name %></td>
      <td><%= @user.age %></td>
      <td><%= @user.parent_name %></td>
      <td><%= @user.email1 %></td>
      <td><%= @user.cell_phone %></td>
      <% registedunits = @user.registed_units %>
      <% if registedunits != nil %>
      <td>
        <% registedunits.each do |registedunit| %>
        <li>class_times: <%= registedunit.title %></li>
        <dl>
          <dd>  --class_times: <%= registedunit.class_times %></dd>
          <dd>  --class_hour(s): <%= registedunit.class_hour %></dd>
          <dd>  --remaining_classes: <%= registedunit.class_times %></dd>
          <dd><%= link_to "check credit detail" %></dd>
        </dl>
        <% end %>
      </td>
      <% end %>
    </tr>
  </table>
<% end %>
<%# this link to the edit page of the user that shows a form to edit the values already saved %>
<%#= link_to (@user.locked ? "Lock" : "Un-lock"),
            user_path(@user, {user: {locked: !@user.locked}}),
            class: "btn btn-warning", method: :patch %>
