<p id="notice"><%= notice %></p>
<% if @user==current_user || admin_user? %>
<div class="well well-lg">
  <div class="row">
    <div class="col-md-4">
      <p>
        search_by_key_words
      </p>
      <!-- search_by_first_name -->
      <%= form_tag attendancebooks_path, method: :get do %>
        <%= search_field_tag :search, params[:search] %>
        <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <div class="col-md-4">
      <p>
        order_by_words
      </p>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&nbsp; &nbsp; Order_By&nbsp; &nbsp; <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><%= link_to "order by start_time", attendancebooks_path(search: params[:search], order: "start_time") %></li>
          <li><%= link_to "order by start_day", attendancebooks_path(search: params[:search], order: "start_day") %></li>
          <li><%= link_to "order by postpone", attendancebooks_path(search: params[:search], order: "postpone") %></li>
          <li><%= link_to "order by finished", attendancebooks_path(search: params[:search], order: "finished") %></li>
        </ul>
    </div>
    <div class="col-md-4">
      <p>
        user_first_name
      </p>
      <!-- search_by_first_name -->
      <%= form_tag search_by_first_name_attendancebooks_path, method: :get do %>
        <%= search_field_tag :search, params[:search] %>
        <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <div class="col-md-4">
      <p>
        user_first_name
      </p>
      <!-- search_by_first_name -->
      <%= form_tag search_by_first_name_attendancebooks_path, method: :get do %>
        <%= search_field_tag :search, params[:search] %>
        <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <!-- search_by_first_name -->
      <%= form_tag to_day_attendancebooks_path, method: :get do %>
        <%= search_field_tag :search, params[:search] %>
        <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <div class="col-md-4">
      <p>
        search_by_first_name
      </p>
      <!-- search_by_first_name -->
      <%= form_tag search_by_first_name_attendancebooks_path, method: :get do %>
        <%= search_field_tag :search, params[:search] %>
        <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  </div>
</div>

<!-- <div class="well well-lg">
  <div class="clearfix"> -->
  <div class="row">
    <% if @attendances !=nil %>
      <% @attendances.each do |attendance|  %>
        <div class="col-md-8" >
          <h4 ><i class="fa fa-tasks">&nbsp; </i><%= attendance.user.full_name %>&nbsp; Atendance Details</h4>
        </div>
        <div class="col-md-4" style="padding-top:4px" >
          <%= link_to 'Go to show attendance details', attendancebook_path(attendance), class: "btn btn-xs btn-primary" %>
          <%= link_to 'Back to home', root_path, class: "btn btn-xs btn-primary" %>
        </div>
          <%= render "/attendances/attendance", attendance:attendance %>
      <% end %>
    <% end %>
  <!-- </div> -->
</div>
<% end %>
