<!-- <div class="well"> -->
  <br>
  <%= link_to 'Go back to attendances', attendancebooks_path %>
  <br>
  <%  @count = 0 %>
  <!-- <div class="well"> -->
  <% today_timetable_ids = get_timetable_attendance_ids %>
  <% if today_timetable_ids != nil %>
    <% @total = today_timetable_ids.count %>
    <% today_timetable_ids.each do |today_timetable_id| %>
      <% attendances = Attendance.where(classtimetable:today_timetable_id) %>
      <% if attendances.count >= 1 %>
        <div class="panel panel-default">
        <!-- Default panel contents -->
          <div class="panel-heading">TodayAttendanceDetails--<%= "#{@count+=1}" %></div>
            <!-- Table -->
            <table class="table">
              <thead>
                <tr>
                  <th>CourseName</th>
                  <th>CourseUnit</th>
                  <th>StuName</th>
                  <th>StartTime</th>
                  <th>EndTime</th>
                  <th>Postpone</th>
                  <th>Finished</th>
                  <th>CheckIn</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <% attendances.each do |att| %>
                  <td><%= att.course_unit.course.name %></td>
                  <td><%= att.course_unit.title %></td>
                  <td><%= att.user.full_name %></td>
                  <td><%= formatted_time(att.classtimetable.start_time) %></td>
                  <td><%= formatted_time(get_end_time(att.classtimetable.start_time,att.classtimetable.minutes_per_class)) %></td>
                  <td><%= att.postpone %></td>
                  <td><%= att.finished %></td>
                  <%= render "/attendancebooks/today", attendance:att%>
                  <td>
                    <%#= link_to '<i class="fa fa-camera-retro fa-lg"></i>'.html_safe, user_attendance_path(att.user,att) %>
                    <%= link_to '<i class="fa fa-camera-retro fa-lg"></i>'.html_safe, user_attendance_path(att.user,att)%>

                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
    <% end %>
  <% end %>
  -- today has <%= "#{@total}" %> classes --
    <!-- </div> -->
  <!-- </div> -->
