<p id="notice"><%= notice %></p>
<div class="well">
  <p>
    <%# courses=@course_unit.course.all %>
    <% if @course_unit.course!= nil %>
        <%# courses.each do |course| %>
        <h4>Course: <%= @course_unit.course.name %></nobr></h4>
          <!-- <h4>Course: <%#= link_to @course_unit.course.name,courses_path(search: @course_unit.course.name, order: "id") %></nobr></h4> -->
        <%# end %>
    <% end %>
  </p>

  <h4>
    <strong>Title:</strong>
    <%= @course_unit.title %>
  </h4>
  <% if can? :admin,current_user %>
    <%= link_to 'Edit', edit_course_unit_path(@course_unit) , class:'btn btn-primary' %> |
    <%= link_to 'Back', course_units_path , class:'btn btn-primary' %>
  <% end %>
</div>

<div class="well">
  <% course_unit_classtimetables = Classtimetable.where(course_unit_id:@course_unit.id) %>
  <% if course_unit_classtimetables!=nil%>
    <% course_unit_classtimetables.each do |course_unit_classtimetable| %>
    <%= render "/classtimetables/showtimetable", classtimetable: course_unit_classtimetable %>
    <% end %>
  <% end %>
</div>
