<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%=  image_tag("2526x930banner8game.jpg", :height => 600, class: "img-responsive") %>
      <div class="carousel-caption">
          <h3></h3>
      </div>
    </div>
    <div class="item">
      <%=  image_tag("2526x930banner8creation.jpg", :height => 600, class: "img-responsive") %>
      <div class="carousel-caption">
          <h3></h3>
      </div>
    </div>
    <div class="item">
      <%=  image_tag("2526x930banner10degree.jpg", :height => 600, class: "img-responsive") %>
      <div class="carousel-caption">
          <h3></h3>
      </div>
    </div>
  </div>


  <!-- Carousel   Controls -->
  <a class="left carousel-control c-control-a-op" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!--/div-->

<!-- Page Features -->
<br><br><br>
<div class="row text-center">

    <div class="col-md-4 guide-gap">
        <div class="thumbnail guide-container">
          <div class="golden-div">
            <%=  image_tag("icon-startup.png",class:"welcome_pic_3") %>
            <div class="caption">
              <h3>Startup</h3>
            </div>
          </div>
            <p><a href="#" class="btn btn-primary btn-lg"> More Info </a></p>
        </div>
    </div>

    <div class="col-md-4 guide-gap">
        <div class="thumbnail guide-container">
          <div class="golden-div">
            <%=  image_tag("icon-tech.png",class:"welcome_pic_3") %>
            <div class="caption">
                <h3>Technologies</h3>
            </div>
          </div>
            <p><a href="#" class="btn btn-primary btn-lg">More Info</a></p>
        </div>
    </div>


    <div class="col-md-4 guide-gap">
        <div class="thumbnail guide-container">
          <div class="golden-div">
            <%=  image_tag("icon-leadership.png",class:"welcome_pic_3") %>
            <div class="caption">
                <h3>Leadership</h3>
            </div>
          </div>
            <p><a href="#" class="btn btn-primary btn-lg">More Info</a></p>
        </div>
    </div>
</div>

<div class="row text-center welcome_container_padding">

    <div class="col-md-4 guide-gap">
        <div class="thumbnail guide-container">
          <div class="golden-div">
            <%=  image_tag("icon-kids.png",class:"welcome_pic_3") %>
            <div class="caption">
                <h3>YSA Kids</h3>
            </div>
          </div>
            <p><a href="#" class="btn btn-primary btn-lg">More Info</a></p>
        </div>
    </div>
    <div class="col-md-4 guide-gap">
        <div class="thumbnail guide-container">
          <div class="golden-div">
          <%=  image_tag("icon-teen.png",class:"welcome_pic_3") %>
            <div class="caption">
                <h3>YSA Teens</h3>
            </div>
          </div>
            <p><a href="#" class="btn btn-primary btn-lg">More Info</a></p>
        </div>
    </div>
    <div class="col-md-4 guide-gap">
        <div class="thumbnail guide-container">
          <div class="golden-div">
            <%=  image_tag("icon-handyman.png",class:"welcome_pic_3") %>
            <div class="caption">
                <h3>YSA Handyman</h3>
            </div>
          </div>
            <p><a href="#" class="btn btn-primary btn-lg">More Info</a></p>
        </div>
    </div>
</div>
