  <% if @classtimetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classtimetable.errors.count, "error") %> prohibited this classtimetable from being saved:</h2>

      <ul>
      <% @classtimetable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= simple_form_for (@classtimetable), html: {class: "form-horizontal"}  do |f| %>
  <div class="form-group">
    <%= f.time_select :start_time%>
  </div>
  <div class="form-group">
    <%= f.datetime_select :start_day %>
  </div>
  <div class="form-group">
    <%= f.input :weekday %><br>
  </div>
  <div class="form-group">
    <%= f.input :month %><br>
  </div>
  <div class="form-group">
    <%= f.input :times_per_week%><br>
  <div class="form-group">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
<p>Date: <input type="text" id="datepicker"></p>
