  <% if @classtimetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classtimetable.errors.count, "error") %> prohibited this classtimetable from being saved:</h2>

      <ul>
      <% @classtimetable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= simple_form_for (@classtimetable)  do |f| %>
  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.time_select :start_time,class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.time_select :start_time,class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :minutes_per_class %>
  </div>
  <div class="form-group">
    <%= f.label :start_day %>
    <%= f.text_field :start_day,id:"datepicker_start_day",class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :unit_class_times %>
  </div>
  <div class="form-group">
    <%= f.input :weekdays,as: :check_boxes,collection: ['Mon.', 'Tue.','Wed.', 'Thu.','Fri.','Sat.','Sun.'],input_html: { multiple: true } %><br>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
</div>
