<p id="notice"><%= notice %></p>

<p>
  <strong>ClassStartTime:</strong>
  <%= formatted_time(@classtimetable.start_time) %>
</p>

<p>
  <strong>ClassEndTime:</strong>
  <%= formatted_time(@classtimetable.start_time+(@classtimetable.minutes_per_class/60).hours) %>
</p>

<p>
  <strong>MinsPerClass:</strong>
  <%= @classtimetable.minutes_per_class %>&nbsp; tmins
</p>

<p>
  <strong>CourseUnitStartDay:</strong>
  <%= @classtimetable.start_day %>
</p>

<p>
  <strong>CourseUnitEndDay:</strong>
  <%= formatted_date(get_end_day(@classtimetable.start_day,@classtimetable.weekdays,@classtimetable.unit_class_times)) %>
</p>

<p>
  <strong>CourseUnitClassTime:</strong>
  <%= @classtimetable.unit_class_times %>&nbsp; times/unit
</p>

<p>
  <strong>Weekdays:</strong>
  <%= show_weekdays(@classtimetable.weekdays) %>
</p>

<p>
  <strong>TimesPerWeek:</strong>
  <%= times_perweek(@classtimetable.weekdays) %>&nbsp; tclasses/week
</p>


<%= link_to 'Edit', edit_classtimetable_path(@classtimetable) %> |
<%= link_to 'Back', classtimetables_path %>
