<p id="notice"><%= notice %></p>
<div class="container well">
  <div class="row">
    <p>Courses Listing</p>
      <% if can? :admin, current_user %>
      <%= link_to 'New Course', new_course_path %>
      <% end %>
      <br><br>
  </div>
    <div class="course col-md-7">
    <% @courses.each do |course| %>
      <ul class="course_big_container col-md-7">
        <li>
          <p><%= course.name %></p>
          <p><%= course.description %></p>
          <p><%= course.note %></p>
          <% if can? :admin, current_user %>
          <span><%= link_to 'Show', course %></span>
          <span><%= link_to 'Edit', edit_course_path(course) %></span>
          <span><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <% end %>
        </li>
      </ul>
      <div id="arrow_container" class="col-md-5">
        <div class="arrow test col-md-3">
        </div>
        <div class="arrow_text col-md-9">
        </div>
      </div>
    <% end %>
    </div>
    <div class="well col-md-5">
      <ul class="course">
        <% course_units=CourseUnit.all %>
        <% if course_units!=nil %>
          <% course_units.each do |course_unit| %>
            <li class="course_unit_container"><%= link_to course_unit.title,course_unit_path(course_unit) %>
            <!-- <p class="get_class_li"></p> -->
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
</div>
