<p id="notice"><%= notice %></p>
<br>
<div class="container well">
  <% if can? :admin, current_user %>
  <%= link_to 'New Course', new_course_path %>
  <% end %>


    <div class="program col-md-8">
    <% @courses.each do |course| %>
    <!-- <%# image_name="/assets/icon-"+"#{course.programs.program_name.delete(' ').downcase}"+".png" %> -->
      <% if @courses.length==1 %>
      <% @course=course%>
      <ul class="program_container col-md-7 selected" id="<%= course.name.delete(' ').downcase%>" >
      <% else %>
      <ul class="program_container col-md-7" id="<%= course.name.delete(' ').downcase%>" >
      <% end %>
        <li>
          <p><%= link_to course.name,courses_path(search: course.name), class:"program_name"%></p>
          <p><%= course.description %></p>
          <p><%= course.note %></p>
          <% if can? :admin, current_user %>
          <span><%= link_to 'Show', course %></span>
          <span><%= link_to 'Edit', edit_course_path(course) %></span>
          <span><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <% end %>
        </li>
      </ul>
      <div id="arrow_container" class="col-md-5">
        <div class="arrow test col-md-3">
        </div>
        <div class="arrow_text col-md-9">
          Select Course
        </div>
      </div>
    <% end %>
    </div>
    <div class="well col-md-4">
      <ul class="course">
        <% course_units=CourseUnit.all %>
        <% if course_units!=nil %>
          <% course_units.each do |course_unit| %>
          <% @program_class = ''%>
          <%# course_unit.course%>
          <% @program_class = "#{@program_class}" + "#{course_unit.title.delete(" ")}" + " " %>
          <% if @courses.length==1 %>
            <% if @program_class.delete(" ").include? @course.name.delete(" ") %>
            <%#= @course.name %>
            <li class="course_container selected"><%= link_to course_unit.title,course_unit_path(course_unit) %>
            <% else %>
            <li class="course_container"><%= course_unit.title %>
            <% end %>
          <% else %>
            <li class="course_container"><%= link_to course_unit.title,course_unit_path(course_unit) %>
          <% end %>
            <p class="get_class_li"><%= @program_class %></p>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
</div>
