<div class = "well row" id = "<%= dom_id(attendance) %>">
  <table class="table">
    <tr>
      <th>ID</th>
      <!-- <th>Date attended record</th> -->
      <!-- <th>DateAttendedACredit</th>
      <th>DateEnrollment</th>
      <th>Postpone</th> -->
      <th>RegistedCourse</th>
      <th>RegistedCourseUnit</th>
      <th>StartTime</th>
      <th>StartDay</th>
      <th>Finished</th>
      <th>Operation</th>
    </tr>
    <tr>
      <td><%= attendance.id %></td>
      <!-- <td><%#= link_to attendance.attendanted_record , render 'form', @user:@user,attendance:attendance) %></td>
      <td><%#= attendance.class_credit %></td>
      <td><%#= attendance.date_enrollment %></td> -->
      <% if attendance.course_unit_id != nil%>
        <td><%= get_attendance_course(attendance.course_unit_id)%></td>
        <td><%= get_attendance_course_unit(attendance.course_unit_id)%></td>
      <% else %>
        <td><%= %></td>
      <% end %>
      <% if attendance.classtimetable_id != nil%>
        <td><%= formatted_time(attendance.classtimetable.start_time) %></td>
        <td><%= formatted_date(attendance.classtimetable.start_day) %></td>
      <% else %>
        <td><%= %></td>
      <% end %>
      <!-- <td><%#= attendance.postpone %></td> -->
      <td><%= attendance.finished %></td>
        <% if can? :admin, current_user %>
      <td>
        <button type = "button" class = "btn btn-info btn-xs" data-toggle = "modal" data-target = "#myupdate<%= dom_id(attendance) %>" id = "edit_attendance" >Edit attendance</button>
        <%= link_to "check detail", user_attendance_path(@user,attendance), class: "btn btn-xs btn-primary aline" %>
        <%= link_to "delete attendance", user_attendance_path(@user,attendance), data: {confirm: "Are you sure to delete?"}, class: "btn btn-xs btn-danger aline", method: :delete,remote: true %>
      </td>
        <% end %>
    </tr>
  </table>

  <!-- this pop up an edit attendance form to fill -->
  <%=simple_form_for [@user, attendance],method: :put,remote:true do |f| %>
    <div id = "myupdate<%= dom_id(attendance) %>" class = "modal fade" role = "dialog">
      <div class = "modal-dialog">
      <!-- Modal content-->
        <div class = "modal-content">
          <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal">&times;</button>
            <h4 class = "modal-title" id = "myModalLabel">Update Attendance</h4>
          </div>
          <div class = "modal-body",id = "some_id">
              <%#= render "/attendances/edit" ,user:@user,attendance:attendance%>
              <%#= f.input :attendanted_record,as: :check_boxes,collection: Course.all.map {|x| x.name}, :include_blank => "Anything", input_html: { multiple: true } %>
              <%#= f.input :course_unit,collection: @user.registed_units.map do {|registed_unit| registed_unit.title} %>

              <%= f.input :date_enrollment %>
              <%= f.input :class_credit %>
              <%= f.input :postpone %>
              <%= f.input :finished %>
              <%= f.input :note %>
              <%#= f.input       :attendanted_record,collection: Course.all.map {|c| c.name} %>
              <%#= f.association :course_unit,collection: CourseUnit.all.map {|c|
                                x="#{c.id};"+"  "+"TITLE:#{c.title};"+"  "+"UNIT_ID:#{c.id};"+"  "+"COURSE:#{c.course.name}" } %>
              <%#= f.association :classtimetable,as: :radio_buttons,
                                collection: Classtimetable.all.map {|c|
                                x="#{c.id};"+"  "+"#{formatted_time(c.start_time)};"+"  "+"#{formatted_date(c.start_day)};"+"  "+"#{c.course_unit.title};"+"  "+"#{c.course_unit.course.name};"+"  "+"#{c.course_unit.id}"},
                                include_blank: true,input_html: { multiple: false } %>
              <%#  @user.registed_units.map do |registed_unit| %>
                <%#= f.input :course_unit,collection: @user.registed_units.map  {|registed_unit| registed_unit.title},id:"course_unit_click"  %>
                <%#= f.input :classtimetable, collection: find_class_info(course_unit) %>
              <%#= f.input :course_unit,collection: @user.registed_units.map {|x| x} %>
              <% #end %>
            <%# end %>
            <%#= f.input       :attendanted_record,collection: Course.all.map {|c| c.name} %>
            <%#= f.association :course_unit,collection: CourseUnit.all.map {|c|
                              x="#{c.id};"+"  "+"TITLE:#{c.title};"+"  "+"UNIT_ID:#{c.id};"+"  "+"COURSE:#{c.course.name}" } %>
            <%#= f.association :classtimetable,as: :radio_buttons,
                              collection: Classtimetable.all.map {|c|
                              x="#{c.id};"+"  "+"#{formatted_time(c.start_time)};"+"  "+"#{formatted_date(c.start_day)};"+"  "+"#{c.course_unit.title};"+"  "+"#{c.course_unit.course.name};"+"  "+"#{c.course_unit.id}"},
                              include_blank: true,input_html: { multiple: false } %>
            <%#= f.input       :note %>


          </div>
          <div class = "modal-footer">
            <%= f.submit :submit, class: "btn btn-success " ,data: {confirm: "Are you sure to update?"} %>
            <button type = "button" class = "btn btn-default" data-dismiss = "modal" id = "edit_attendance_close">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id = "myupdate_a_<%= dom_id(attendance) %>" class = "modal fade" role = "dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit <%= @user.full_name %><%= attendance.course_unit.title %> Atendance</h4>
      </div>
      <div class="modal-body" id="new_form">
        <div id="edit_<%= dom_id(attendance) %>">
        <%= render "/attendances/form",user:@user,attendance:attendance %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="update_attendance_close" >Close</button>
      </div>
    </div>
  </div>
</div>
