<p id="notice"><%= notice %></p>
<div class="row">
  <br>
  <div class="container" >
    <h4 ><i class="fa fa-tasks">&nbsp; </i><%= @user.full_name %> Atendance Details</h4>
    <br>
    <div class="col-md-6" >
      <h5 style="margin-left:12px">Attendance Information</h5>
      <br>
      <div class="col-md-6" >
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">AttendanceId:</li>
          <li class="list-group-item list-group-item-warning">RegistedCourse:</li>
          <li class="list-group-item list-group-item-info">RegistedCourseUnit:</li>
          <li class="list-group-item list-group-item-warning">DateEnrollment:</li>
          <li class="list-group-item list-group-item-warning">DateAttendedCredit:</li>
          <li class="list-group-item list-group-item-info">Postpone:</li>
          <li class="list-group-item list-group-item-warning">Finished:</li>
          <li class="list-group-item list-group-item-info">DateAttendedRecord:</li>
        </ul>
      </div>
      <div class="col-md-6" , style="margin-left:-100px" >
        <ul class="list-group">
          <li class="list-group-item list-group-item"><%= @attendance.id %>&nbsp; </li>
          <% if @attendance.course_unit_id != nil%>
          <li class="list-group-item list-group-item"><%= find_course(@attendance.course_unit).name %>&nbsp; </li>
          <li class="list-group-item list-group-item"><%= get_attendance_course_unit(@attendance.course_unit_id)%>&nbsp; </li>
          <% else %>
          <li class="list-group-item list-group-item">/</li>
          <li class="list-group-item list-group-item">/</li>
          <% end %>
          <li class="list-group-item"><%= @attendance.date_enrollment %>&nbsp; </li>
          <li class="list-group-item"><%= @attendance.class_credit %>&nbsp; </li>
          <li class="list-group-item"><%= @attendance.postpone %>&nbsp; </li>
          <li class="list-group-item"><%= @attendance.finished %>&nbsp; </li>
          <li class="list-group-item"><%= @attendance.attendanted_record %>&nbsp; </li>
        </ul>
      </div>
    </div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>

  <div class="col-md-6" >
    <% if @attendance.classtimetable_id != nil%>
    <div id="showtimetable">
      <%= render "/classtimetables/showtimetable" , classtimetable:@attendance.classtimetable %>
    </div>
    <% end %>
  </div>
</div>

  <div class="container">
    <div class="col-md-12" >
      <% if can? :admin, current_user %>
        <br>
        <button type = "button" class = "btn btn-info btn-md" data-toggle = "modal" data-target = "#myupdate_a" id = "edit_attendance_button" >Edit Attendance</button>
        <%= link_to 'Back to user info', user_path(@user), class: "btn btn-md btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


<!-- this pop up edit attendance form to fill -->
<div id = "myupdate_a" class = "modal fade" role = "dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit <%= @user.full_name %> Atendance</h4>
      </div>
      <div class="modal-body" id="new_form">
        <div id="edit_attendance">
        <%= render "form",attendance:@attendance %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="update_attendance_close" >Close</button>
      </div>
    </div>
  </div>
</div>

<!-- this pop up an edit attendance form to fill -->
<%=simple_form_for [@user, @attendance],method: :put,remote:true do |f| %>
  <div id = "edit_record" class = "modal fade" role = "dialog">
    <div class = "modal-dialog">
    <!-- Modal content-->
      <div class = "modal-content">
        <div class = "modal-header">
          <button type = "button" class = "close" data-dismiss = "modal">&times;</button>
          <h4 class = "modal-title" id = "edit_record">Change Attendance Record</h4>
        </div>
        <div class = "modal-body",id = "some_id">
            <%= f.input :date_enrollment %>
            <%= f.input :class_credit %>
            <%= f.input :postpone %>
            <%= f.input :finished %>
            <%= f.input :note %>
        </div>
        <div class = "modal-footer">
          <%= f.submit :submit, class: "btn btn-success " ,data: {confirm: "Are you sure to update?"} %>
          <button type = "button" class = "btn btn-default" data-dismiss = "modal" id = "edit_attendance_close">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
