<p id="notice"><%= notice %></p>

<p>
  <strong>Date attended:</strong>
  <%= @attendance.date_attended %>
</p>

<p>
  <strong>Postpone:</strong>
  <%= @attendance.postpone %>
</p>

<p>
  <strong>Note:</strong>
  <%= @attendance.note %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
