<%#= image_tag('ysalogocookieslogan300.jpg') %>
<span id="logo"><%= image_tag('ysalogocookieslogan300.jpg') %></span>
<ul class="nav navbar-nav navbar-right login">
  <% if user_signed_in? %>
    <li><%= link_to edit_user_path(current_user) do %>
        Hello<%= current_user.first_name%>
        <% end %>
    <li><%= link_to "Sign out", sessions_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Sign in", new_session_path %></li>
    <li><%= link_to "Sign up", new_user_path %></li>
  <% end %>
</ul>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Us", about_path %></li>
        <li class="Programs">
          <a class="nav_font" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "All Programs", programs_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Startup",programs_path(search: 'Start Up') %></li>
            <li class="dropdown-submenu dropdown-menu-left">
                <a class="nav_font" tabindex="-1" href="#">Technologies<span class:"glyphicon glyphicon-play"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Technologies",programs_path(search: 'Technologies') %></li>
                  <li role="separator" class="divider"></li>
                    <!-- those parts can use ajax to do -->
                      <li><%= link_to "Unity3D and C# regular", course_path(1) %></li>
                      <%#= link_to "Unity3D and C# regular", course_path(search: 'Unity3D and C# regular', order: "id") %>
                      <li><%= link_to "Unity3D and C# Camp", course_path(2) %></li>
                      <li><%= link_to "JavaScript", course_path(4) %></li>
                      <li><%= link_to "HTML and CSS", course_path(3) %></li>
                      <li><%= link_to "Photoshop", course_path(6) %></li>
                </ul>
            </li>
            <li class="dropdown-submenu dropdown-menu-left">
                <a class="nav_font" tabindex="-1" href="#">Leadership</a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Leadership", programs_path(search: 'Leadership') %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Speach", course_path(8) %></li>
                </ul>
            </li>
            <li class="dropdown-submenu dropdown-menu-left">
                <a class="nav_font" tabindex="-1" href="#">YSA Kids</a>
                <ul class="dropdown-menu">
                  <li><%= link_to "YSA Kids",programs_path(search: 'YSA Kids') %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Unity3D and C# regular for kids", course_path(1) %></li>
                  <li><%= link_to "Unity3D and C# camp for kids", course_path(2) %></li>
                  <li><%= link_to "Java", course_path(13) %></li>
                </ul>
            </li>
            <li class="dropdown-submenu dropdown-menu-left">
                <a class="nav_font" tabindex="-1" href="#">YSA Teens</a>
                <ul class="dropdown-menu">
                  <li><%= link_to "YSA Teens",programs_path(search: 'YSA Teens') %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Unity3D and C# regular for teens", course_path(1) %></li>
                  <li><%= link_to "Unity3D and C# camp for teens", course_path(2) %></li>
                  <li><%= link_to "Java", course_path(13) %></li>
                </ul>
            </li>
            <li><%= link_to "YSA Handyman",programs_path(search: 'YSA Handyman') %></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-submenu dropdown-menu-left">
          <a class="nav_font" tabindex="-1" href="#">Camps 2015</a>
          <ul class="dropdown-menu">
            <li><%= link_to "YSA Camp",programs_path(search: 'Camp') %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Camps 2015", programs_path(search: 'Camp', order: "id") %></li>
          </ul>
        </li>
        <li role="separator" class="divider"></li>
        <li><%= link_to "Course registration", programs_path %></li>
      </ul>
          <li><%= link_to "Courses",courses_path %></li>
          <li><%= link_to "News" %></li>
          <li><%= link_to "Blog" %></li>
        <% if can? :admin, current_user %>
          <li><%= link_to "Contact Us", contacts_path %></li>
        <% else %>
          <li><%= link_to "Contact Us", new_contact_path %></li>
        <% end %>
        <li class="Studentsinfo">
        <a class="nav_font" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Studentsinfo<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% if can? :admin, current_user %>
            <li><%= link_to "All Students", users_path %></li>
          <% end %>
          <% if user_signed_in? %>
            <li><%= link_to "My Information", user_path(current_user) %></li>
          <% end %>
        </ul>
        <% if can? :admin, current_user %>
          <li><%= link_to "check course&units",course_units_path %></li>
          <li class="Admin">
            <a class="nav_font" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Classtimetables", classtimetables_path %></li>
              <li><%= link_to "Check Attendances", attendancebooks_path %></li>
              <li><%= link_to "Today Attendances", to_day_attendancebooks_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- <div class="container-fluid">
  <div class="btn-group pull-right">
  <a class="nav_font" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Menu
      <span class="caret"></span>
    </a> -->

      <!-- <li class="dropdown-submenu dropdown-menu-right">
        <a class="nav_font" tabindex="-1" href="#">More options</a>
        <ul class="dropdown-menu">
          <li><a class="nav_font" tabindex="-1" href="#">Second level</a></li>
          <li class="dropdown-submenu">
            <a class="nav_font" href="#">More..</a>
            <ul class="dropdown-menu">
                <li><a class="nav_font" href="#">3rd level</a></li>
                <li><a class="nav_font" href="#">3rd level</a></li>
            </ul>
          </li>
          <li><a class="nav_font" href="#">Second level</a></li>
          <li><a class="nav_font" href="#">Second level</a></li>
        </ul>
      </li>
        <li><a class="nav_font" href="#">Something else here</a></li>
    </ul>
  </div>
</div> -->
  </div>
</nav>
